/* styles.css */
:root {
  --blue-200: #bfdbfe;
  --slate-200: #e2e8f0;
  --slate-400: #94a3b8;
  --neutral-50: #fafafa;
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  font-weight: 500;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  width: max(100%, 800px);
  height: 100%;
}
body {
  margin: 0;
  height: 100%;
  width: max(100%, 800px);
  display: flex;
  flex-direction: row;
}

#sidebar {
  width: 250px;
  height: 100%;
  background-color: var(--slate-200);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  /* display: grid;
  grid-template-columns: 250px;
  grid-auto-rows: 40px; */
  display: flex;
  flex-direction: column;
  gap: 100px;
}

#sidebar-header{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  flex-grow: 0;
}

#user-icon{
flex-grow: 0;
align-self: center;
}

#user-name{
  flex-grow: 1;

}

#user-notif{
  flex-grow: 0;
  width: 30px;
  height: 30px;

  border: 0px;
  background-color: var(--slate-200);
  border-radius: 20px;
  padding: 0;
}

#notif-img{
  width: 28px;
  height: 28px;
  
  border: 0px;
  outline: 0px;
}

#user-icon{
  width:30px;
  height: 30px;
}


#projects {
  /* grid-row: 4; */
  flex-grow: 1;
}

#sidebar-footer{
  /* grid-row: 9; */
  flex-grow: 0;
  height: 30px;
  padding-bottom: 10px;
}

#add-proj-but:hover{
  opacity: 0.5;
}

#add-proj-but:active{
  opacity: 1;
}

.project-cell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.project-button {
  font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  width: 100%;
  background-color: var(--slate-200);
  border: 0;
  height: 40px;
  text-align: left;
  padding: 10px;
  border-radius: 10px;
  font-weight: 500;

}

.project-button:hover {
  background-color: var(--slate-400);
  color: var(--neutral-50);
  opacity: 0.8;
}

.project-button:active {
  background-color: var(--slate-400);
  color: var(--neutral-50);
  opacity: 1;
}

#main-content {
  width: max(100%, 800px);
  background-color: var(--neutral-50);
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 100px; */
  height: 100%;
  display: flex;
  flex-direction: column;
}

#project-title{
flex-grow: 0;
height: 150px;
justify-content: end;
}

#task-list{
flex-grow: 1;
}

#main-content-footer{
flex-grow: 0;
height: 30px;
display: flex;
flex-direction: row;
justify-content: space-between;
padding-bottom: 10px;
}

.task-cell {
  /* display: grid;
  grid-auto-columns: 20px;
  grid-template-rows: 50px; */

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;
}

.task-checkbox {
  align-self: center;
  flex-grow: 0;
}

.task-description {
  /* grid-column: 2/20; */
  align-self: center;
  justify-self: left;
  flex-grow: 1;
}

.task-due {
  /* grid-column: 20/22; */
  align-self: center;
  justify-self: right;
  flex-grow: 0;
}
